@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 5rem auto 5rem;

  background: #fc5c7d;
  background: -webkit-linear-gradient(to right, #826afb, #ff5e9e, #ff9f4b);
  background: linear-gradient(to right, #826afb, #ff5e9e, #ff9f4b);

  background-size: 400% 400%;
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
  overflow-x: hidden;

  font-family: "Anuphan", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;

  cursor: default;
}

.app-container {
  display: grid;
  grid-template-rows: auto 3fr;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
  gap: 1rem;
}

.current-container,
.forecast-card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 2rem;
}

.current-container {
  height: fit-content;
}

.current-header {
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.updated {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.form-container {
  display: grid;
  align-items: start;
  justify-content: end;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

button {
  appearance: none;
  border-radius: 4px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  font-size: 16px;
  height: fit-content;
  padding: 5px 1rem;
}

button:hover,
label:hover {
  cursor: pointer;
}

input {
  padding: 5px;
  appearance: none;
  border-radius: 4px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  outline: none;
  font-size: 16px;
  border: 2px solid transparent;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

input:hover {
  border: 2px solid rgba(225, 225, 225, 0.6);
}

input:focus,
button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.forecast-container {
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 10fr;
  grid-area: 2/1/3/3;
}

.forecast-header {
  display: flex;
  align-items: end;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.forecast-days {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.5rem;
}

.forecast-card > .icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
  font-size: 20px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.title {
  grid-area: 1/1/2/3;
}

label {
  grid-area: 1/2/2/3;
  justify-self: end;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: auto;
  gap: 1rem;
  font-size: 16px;
}

footer > .credits {
  font-size: smaller;
}

a {
  text-decoration: none;
  color: #f2efff;
}

/* turn icons white */
img {
  -webkit-filter: brightness(100) grayscale(100%) contrast(100);
  filter: brightness(100) grayscale(100%) contrast(100);
}

/* temperature toggle switch */
.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 24px; /* 1 */
  height: 1em;
  width: 2em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1em;
}

.switch .div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.1);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + .div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.div::before {
  content: "°C";
  font-size: 12px;
  font-weight: 800;
}

input:checked + .div::before {
  content: "°F";
  font-size: 12px;
  font-weight: 800;
}
/* end temperature toggle switch */

/* gradient animation */
body:hover {
  -webkit-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* hide scrollbar */

body::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media only screen and (max-width: 600px) {
  form {
    display: flex;
    flex-direction: column;
  }

  .app-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .current-container {
    grid-area: 1/1/2/2;
  }

  .form-container {
    grid-area: 2/1/3/2;
    margin-bottom: 0;
    justify-content: center;
  }

  .forecast-container {
    display: block;
    grid-area: 3/1/4/2;
  }

  .forecast-header {
    margin-bottom: 1rem;
  }

  .forecast-days {
    grid-template-columns: 1fr;
  }

  .forecast-card {
    align-items: center;
  }
}
